absl-py==0.12.0
alabaster==0.7.12
astunparse==1.6.3
attrs==21.2.0
Babel==2.9.1
branca==0.4.2
Brotli==1.0.9
cachetools==4.2.2
certifi==2020.12.5
chardet==3.0.4
click==7.1.2
click-plugins==1.1.1
cligj==0.7.1
cycler==0.10.0
dash==1.21.0
dash-bootstrap-components==0.13.0
dash-core-components==1.17.1
dash-html-components==1.1.4
dash-table==4.12.0
decorator==4.4.2
docutils==0.17.1
elasticsearch==7.5.1
Fiona==1.8.19
Flask==2.0.1
Flask-Compress==1.10.1
flatbuffers==1.12
folium==0.12.1
future==0.18.2
gast==0.4.0
geographiclib==1.50
geopandas==0.7.0
geopy==2.0.0
google-auth==1.30.0
google-auth-oauthlib==0.4.4
google-pasta==0.2.0
grpcio==1.34.1
gunicorn==20.1.0
h3==3.7.2
h5py==3.1.0
idna==2.8
imagesize==1.2.0
iteration-utilities==0.11.0
itsdangerous==2.0.1
Jinja2==3.0.1
joblib==1.0.1
Keras-Applications==1.0.8
keras-embed-sim==0.8.0
keras-layer-normalization==0.14.0
keras-multi-head==0.27.0
keras-nightly==2.5.0.dev2021032900
keras-pos-embd==0.11.0
keras-position-wise-feed-forward==0.6.0
Keras-Preprocessing==1.1.2
keras-self-attention==0.46.0
keras-transformer==0.38.0
kiwisolver==1.3.1
lxml==4.6.3
Markdown==3.3.4
MarkupSafe==2.0.1
matplotlib==3.4.2
munch==2.5.0
networkx==2.5.1
numpy==1.19.5
oauthlib==3.1.0
opt-einsum==3.3.0
osm2geojson==0.1.27
packaging==20.9
pandas==1.0.1
Pillow==8.2.0
plotly==5.1.0
pockets==0.9.1
protobuf==3.16.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
Pygments==2.9.0
PyMySQL==0.10.0
pyparsing==2.4.7
pyproj==2.4.2.post1
python-dateutil==2.8.1
python-version==0.0.2
pytz==2021.1
PyYAML==5.3.1
requests==2.22.0
requests-oauthlib==1.3.0
rsa==4.7.2
Rtree==0.9.7
scikit-learn==0.24.2
scipy==1.6.3
seaborn==0.11.1
Shapely==1.7.0
six==1.15.0
sklearn==0.0
snowballstemmer==2.1.0
spektral==1.0.6
Sphinx==2.4.0
sphinx-rtd-theme==0.4.3
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-napoleon==0.7
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
SQLAlchemy==1.3.18
tenacity==7.0.0
tensorboard==2.5.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.5.0
tensorflow-estimator==2.5.0
termcolor==1.1.0
threadpoolctl==2.1.0
timezonefinder==5.2.0
tqdm==4.61.0
typing-extensions==3.7.4.3
urllib3==1.25.11
Werkzeug==2.0.0
wrapt==1.12.1
XlsxWriter==1.4.3
